<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% extends 'base.html' %}

    {% block titulo %}Libros{% endblock titulo %}


    {% block contenido %}
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
      <!-- Navbar -->
      <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
        <div class="container-fluid py-1 px-3">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
              <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Páginas</a></li>
              <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Libros</li>
            </ol>
            <h4 class="font-weight-bolder mb-0">API Libros</h4>
          </nav>
          <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
              
            </div>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
  
      <br>

    <div class="container-fluid py-4">
        <div class="row">
          <div class="col-12">
            <div class="card my-4">
              <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                  <h6 class="text-white text-capitalize ps-3">Libros registrados</h6>
                </div>
              </div>
              <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0">
                  <table class="table align-items-center mb-0">
                    <thead>
                      <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">#</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Título</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Autores</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Editorial</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Número de páginas</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Géneros</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Fecha de publicación</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for libro in libros %}
                      <tr>
                        <td>
                          {{forloop.counter}}
                        </td>
                        <td>
                            {{libro.titulo}}
                        </td>
                        <td>
                          {% for autor in libro.autores.all %}
                            {{ autor }}
                          {% endfor %}
                        </td>
                        <td>
                            {{libro.editorial.nombre}}
                        </td>
                        <td>
                          <span class="text-secondary text-xs font-weight-bold">{{libro.numeroPaginas}}</span>
                        </td>
                        <td>
                          {% for genero in libro.generos.all %}
                            {{ genero }}
                          {% endfor %}
                          
                        </td>
                        <td>
                              {{libro.fechaPublicacion}}
                          </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
    {% endblock contenido %}